<body id="style-body">
    <div class="container-fluid">
        <div class="row">
            <ul class="top-nav">
                <div class="col-xs-1">
                    <li><a ui-sref="home"><img class="logo" src="./img/Tatto-logo.png" width="70"></a></li>
                </div>
                <div class="col-xs-1">
                    <li class="space"><a ui-sref="home">HOME</a></li>
                </div>
                <div class="col-xs-1">
                    <li class="space"><a ui-sref="about">ABOUT</a></li>
                </div>
                <div class="col-xs-1">
                    <li class="space"><a ui-sref="style">STYLE</a></li>
                </div>
                <div class="col-xs-5"></div>
                <div class="col-xs-1">
                    <li class="space"><a ui-sref="login"><i class="fa fa-user-circle"></i> LOGIN</a></li>
                </div>
                <div class="col-xs-2">
                    <li class="space signup"><a ui-sref="new-account">SIGN UP</a></li>
                </div>
            </ul>
        </div>
    </div>
    <div id="sidebar-wrapper" class="">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li> <a ui-sref="black-grey">BLACK AND GREY</a>

                </li>
                <li> <a ui-sref="cartoon-anime">CARTOON/ANIME</a>

                </li>
                <li> <a ui-sref="cover-up">COVER UP</a>

                </li>
                <li> <a class="active" ui-sref="flash-tattoo">FLASH TATTOO</a>

                </li>
                <li> <a ui-sref="illustrative">ILLUSTRATIVE</a>

                </li>
                <li> <a ui-sref="lettering">LETTERING</a>

                </li>
                <li> <a ui-sref="new-school">NEW SCHOOL</a>

                </li>
                <li> <a ui-sref="pinup">PIN-UP</a>

                </li>
                <li> <a ui-sref="portrait">PORTRAIT</a>

                </li>
                <li> <a ui-sref="realism">REALISM</a>

                </li>
                <li> <a ui-sref="sketch">SKETCH</a>

                </li>
                <li> <a ui-sref="trad-american">TRADITIONAL AMERICAN </a>

                </li>
                <li> <a ui-sref="trad-japanese">TRADITIONAL JAPANESE </a>

                </li>
                <li> <a ui-sref="trash-polka">TRASH POLKA</a>

                </li>
                <li> <a ui-sref="tribal">TRIBAL</a>

                </li>
                <li> <a ui-sref="watercolor">WATERCOLOR</a>

                </li>

                </li>
            </ul>
        </nav>
    </div>
</body>
<style>
    /*Start of navbar  */

    .logo {
        margin-top: 20px;
    }

    li {
        list-style-type: none;
    }

    .space {
        list-style-type: none;
        padding: 40px;
    }

    .top-nav li a {
        width: 150px;
        color: #ea1111;
        display: block;
        text-align: center;
        font-family: 'Oswald', sans-serif;
        font-size: 25px;
        text-decoration: none;
        padding: 15px;
        border-radius: 10px;
    }

    .signup a {
        border: 2px solid #000;
    }

    .top-nav .space a:hover {
        background: #41ead4;
        -webkit-transition: 0.6s;
        -moz-transition: 0.6s;
        transition: 0.6s;
    }
    /*End of navbar  */

    .fa {
        color: black;
    }
</style>