<div id="wrapper">
    <div id="sidebar-wrapper" class="">
        <nav id="spy">
            <ul class="sidebar-nav nav">
                <li> <a ui-sref="black-grey">BLACK AND GREY</a>

                </li>
                <li> <a ui-sref="cartoon-anime">CARTOON/ANIME</a>

                </li>
                <li> <a ui-sref="cover-up">COVER UP</a>

                </li>
                <li> <a ui-sref="flash-tattoo">FLASH TATTOO</a>

                </li>
                <li> <a ui-sref="illustrative">ILLUSTRATIVE</a>

                </li>
                <li> <a ui-sref="lettering">LETTERING</a>

                </li>
                <li> <a ui-sref="new-school">NEW SCHOOL</a>

                </li>
                <li> <a ui-sref="pinup">PIN-UP</a>

                </li>
                <li> <a ui-sref="portrait">PORTRAIT</a>

                </li>
                <li> <a ui-sref="realism">REALISM</a>

                </li>
                <li> <a ui-sref="sketch">SKETCH</a>

                </li>
                <li> <a ui-sref="trad-american">TRADITIONAL AMERICAN </a>

                </li>
                <li> <a ui-sref="trad-japanese">TRADITIONAL JAPANESE </a>

                </li>
                <li> <a ui-sref="trash-polka">TRASH POLKA</a>

                </li>
                <li> <a ui-sref="tribal">TRIBAL</a>

                </li>
                <li> <a ui-sref="watercolor">WATERCOLOR</a>

                </li>

                </li>
            </ul>
        </nav>
    </div>
  </div>
